/invite-db.json

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/node_modules
/pnpm-lock.yaml
/yarn-packages.yaml
/packagelock.json
/dist/*

./node_modules
!**/node_modules/**
/node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

.*
!.env.defaults
!.editorconfig
!.eslintignore
!.eslintrc.js
!.eslintrc.yaml
!.gitattributes
!.github
!.gitignore
!.gitkeep
!.gitpod.yml
!.nycrc
!.yamllint.yaml

.DS_Store